In [69]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
from collections import Counter

In [70]:
data = pd.read_csv('movie_bd_v5.csv')
data.sample(5)

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year
1414,tt0424774,50000000,69425966,The Adventures of Sharkboy and Lavagirl,Taylor Lautner|Taylor Dooley|Cayden Boyd|Georg...,Robert Rodriguez,Smaller heroes. Just as super.,Max conjures up his perfect dreamworld...the P...,92,Adventure|Fantasy|Action|Family,Columbia Pictures Corporation|Dimension Films,6/10/2005,4.3,2005
1252,tt1623205,200000000,491868548,Oz: The Great and Powerful,James Franco|Mila Kunis|Rachel Weisz|Michelle ...,Sam Raimi,"In Oz, nothing is what it seems","Oscar Diggs, a small-time circus illusionist a...",130,Fantasy|Adventure|Family,Walt Disney Pictures|Roth Films,3/7/2013,5.6,2013
1390,tt0384680,20000000,12482775,The Weather Man,Nicolas Cage|Michael Caine|Hope Davis|Gemmenne...,Gore Verbinski,Dave Spritz is about to take his best shot . ....,"A Chicago weather man, separated from his wife...",101,Comedy|Drama,Paramount Pictures|Escape Artists|Kumar Mobili...,10/20/2005,5.7,2005
953,tt0265298,15000000,52970014,Big Fat Liar,Frankie Muniz|Paul Giamatti|Amanda Bynes|Amand...,Shawn Levy,The truth is never overrated,Fourteen-year-old Jason Shepherd (Muniz) has a...,88,Comedy|Family,Universal Pictures,2/8/2002,5.7,2002
718,tt0455538,27000000,17286299,How to Lose Friends & Alienate People,Kelan Pannell|Janette Scott|Simon Pegg|Megan F...,Robert B. Weide,"He's across the pond, and out of his depth.",A British writer struggles to fit in at a high...,110,Comedy|Romance|Drama,UK Film Council|Intandem Films|Aramid Entertai...,10/2/2008,6.0,2008

In [71]:
data.describe()

             budget       revenue      runtime  vote_average  release_year
count  1.889000e+03  1.889000e+03  1889.000000   1889.000000   1889.000000
mean   5.431083e+07  1.553653e+08   109.658549      6.140762   2007.860773
std    4.858721e+07  2.146698e+08    18.017041      0.764763      4.468841
min    5.000000e+06  2.033165e+06    63.000000      3.300000   2000.000000
25%    2.000000e+07  3.456058e+07    97.000000      5.600000   2004.000000
50%    3.800000e+07  8.361541e+07   107.000000      6.100000   2008.000000
75%    7.200000e+07  1.782626e+08   120.000000      6.600000   2012.000000
max    3.800000e+08  2.781506e+09   214.000000      8.100000   2015.000000

# Предобработка

In [72]:
answers = {} # создадим словарь для ответов

# тут другие ваши предобработки колонок например:

# в столбце с режисерами строки в ячейках преобразуем в списки: 
data.director = data.director.apply(lambda x: str(x).split('|'))
                      
# преобразуем формат даты для датафрейма:
data.release_date = pd.to_datetime(data.release_date)

# добавим в дата фрейм столбец "прибыль" ('profit'):
data['profit']= data.revenue - data.budget 

# добавим в дата фрейм столбец "месяц" ('month')
data['month'] = data.release_date.dt.month

# функция для подсчета пар для вопроса 27:
def combo_cast(cast):
    return [(cast[i],cast[j]) for i in range(len(cast)) for j in range(i+1, len(cast))]

# 1. У какого фильма из списка самый большой бюджет?

Использовать варианты ответов в коде решения запрещено.    
Вы думаете и в жизни у вас будут варианты ответов?)

In [73]:
# в словарь вставляем номер вопроса и ваш ответ на него:

answers['1'] = '5. Pirates of the Caribbean: On Stranger Tides (tt1298650)'
# "+" ответ принят

In [74]:
# тут пишем ваш код для решения данного вопроса:
# отбираем строку с максимальным значением по столбцу "бюджет" ('budget'), используя функцию max():
data.loc[data.budget == data.budget.max()]

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year,profit,month
723,tt1298650,380000000,1021683000,Pirates of the Caribbean: On Stranger Tides,Johnny Depp|PenÃ©lope Cruz|Geoffrey Rush|Ian M...,[Rob Marshall],Live Forever Or Die Trying.,Captain Jack Sparrow crosses paths with a woma...,136,Adventure|Action|Fantasy,Walt Disney Pictures|Jerry Bruckheimer Films|M...,2011-05-11,6.3,2011,641683000,5

ВАРИАНТ 2

In [75]:
# можно добавлять разные варианты решения

# 2. Какой из фильмов самый длительный (в минутах)?

In [76]:
# думаю логику работы с этим словарем вы уже поняли, 
# по этому не буду больше его дублировать
answers['2'] = '2. Gods and Generals (tt0279111)' # "+" ответ принят

In [77]:
# аналогично первому вопросу отбираем строку с максимальным значение длительности ('runtime')
data.loc[data.runtime == data.runtime.max()]

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year,profit,month
1157,tt0279111,56000000,12923936,Gods and Generals,Stephen Lang|Jeff Daniels|Robert Duvall|Kevin ...,[Ronald F. Maxwell],The nations heart was touched by...,The film centers mostly around the personal an...,214,Drama|History|War,Turner Pictures|Antietam Filmworks,2003-02-21,5.8,2003,-43076064,2

# 3. Какой из фильмов самый короткий (в минутах)?

In [78]:
answers['3'] = '3. Winnie the Pooh (tt1449283)'# "+" ответ принят

In [79]:

# отбираем строку с минимальным значением по столбцу 'runtime' используя функцию min():
data.loc[data.runtime == data.runtime.min()]

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year,profit,month
768,tt1449283,30000000,14460000,Winnie the Pooh,Jim Cummings|Travis Oates|Jim Cummings|Bud Luc...,"[Stephen Anderson, Don Hall]",Oh Pooh.,"During an ordinary day in Hundred Acre Wood, W...",63,Animation|Family,Walt Disney Pictures|Walt Disney Animation Stu...,2011-04-13,6.8,2011,-15540000,4

# 4. Какова средняя длительность фильмов?

In [80]:
answers['4'] = '2. 110'# "+" ответ принят

In [81]:

# с помощью функции mean() отображаем среднее значение по столбцу 'runtime':
data.runtime.mean()

109.6585494970884



# 5. Каково медианное значение длительности фильмов?

In [82]:
answers['5'] = '1. 107'# "+" ответ принят

In [83]:
# вариант 1: с помощью функции describe отображаем основные статистические показатели всего ДФ(Датафрейма),
# в т.ч. и медианное значение по столбцу 'runtime':
data.describe()

,budget,revenue,runtime,vote_average,release_year,profit,month
count,1.889000e+03,1.889000e+03,1889.000000,1889.000000,1889.000000,1.889000e+03,1889.000000
mean,5.431083e+07,1.553653e+08,109.658549,6.140762,2007.860773,1.010545e+08,6.933298
std,4.858721e+07,2.146698e+08,18.017041,0.764763,4.468841,1.830733e+08,3.390196
min,5.000000e+06,2.033165e+06,63.000000,3.300000,2000.000000,-1.657101e+08,1.000000
25%,2.000000e+07,3.456058e+07,97.000000,5.600000,2004.000000,5.000000e+06,4.000000
50%,3.800000e+07,8.361541e+07,107.000000,6.100000,2008.000000,4.400041e+07,7.000000
75%,7.200000e+07,1.782626e+08,120.000000,6.600000,2012.000000,1.201842e+08,10.000000
max,3.800000e+08,2.781506e+09,214.000000,8.100000,2015.000000,2.544506e+09,12.000000

In [84]:
# вариант 2: с помощью функции median отображаем медианное значение по столбцу 'runtime':
data.runtime.median()

107.0

# 6. Какой самый прибыльный фильм?
#### Внимание! Здесь и далее под «прибылью» или «убытками» понимается разность между сборами и бюджетом фильма. (прибыль = сборы - бюджет) в нашем датасете это будет (profit = revenue - budget)

In [85]:
answers['6'] = '5. Avatar (tt0499549)'# "+" ответ принят

In [86]:
# вотбираем строку с максимальным значением по столбцу 'profit':
data.loc[data.profit == data.profit.max()]

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year,profit,month
239,tt0499549,237000000,2781505847,Avatar,Sam Worthington|Zoe Saldana|Sigourney Weaver|S...,[James Cameron],Enter the World of Pandora.,"In the 22nd century, a paraplegic Marine is di...",162,Action|Adventure|Fantasy|Science Fiction,Ingenious Film Partners|Twentieth Century Fox ...,2009-12-10,7.1,2009,2544505847,12

# 7. Какой фильм самый убыточный?

In [87]:
answers['7'] = '5. The Lone Ranger (tt1210819)'# "+" ответ принят

In [88]:
# отбираем строку с минимальным значением по столбцу 'profit':
data.loc[data.profit == data.profit.min()]

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year,profit,month
1245,tt1210819,255000000,89289910,The Lone Ranger,Johnny Depp|Armie Hammer|William Fichtner|Hele...,[Gore Verbinski],Never Take Off the Mask,The Texas Rangers chase down a gang of outlaws...,149,Action|Adventure|Western,Walt Disney Pictures|Jerry Bruckheimer Films|I...,2013-07-03,6.0,2013,-165710090,7

# 8. У скольких фильмов из датасета объем сборов оказался выше бюджета?

In [89]:
answers['8'] = '1. 1478'# "+" ответ принят

In [90]:
# с помощью функции count()считаем количество фильмов с прибылью больше нуля:
data[data.profit > 0].original_title.count()

1478

# 9. Какой фильм оказался самым кассовым в 2008 году?

In [91]:
answers['9'] = '4. The Dark Knight (tt0468569)'# "+" ответ принят

In [92]:
data_2008 = data[data.release_year == 2008] # создаем ДФ по 2008 году
data_2008.loc[data_2008.revenue == data_2008.revenue.max()]# отбираем строку с максимальным значением по столбцу 'revenue'

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year,profit,month
599,tt0468569,185000000,1001921825,The Dark Knight,Christian Bale|Michael Caine|Heath Ledger|Aaro...,[Christopher Nolan],Why So Serious?,Batman raises the stakes in his war on crime. ...,152,Drama|Action|Crime|Thriller,DC Comics|Legendary Pictures|Warner Bros.|Syncopy,2008-07-16,8.1,2008,816921825,7

# 10. Самый убыточный фильм за период с 2012 по 2014 г. (включительно)?

In [93]:
answers['10'] = '5. The Lone Ranger (tt1210819)'# "+" ответ принят

In [94]:
data_10 = data[(data.release_year < 2015) & (data.release_year >= 2012)]# аналогично №9 создаем ДФ за период с 2012-2014 гг
data_10.loc[data_10.profit == data_10.profit.min()] # выбираем строку с наимеyьшим значением по столбцу прибыль ('profit')

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year,profit,month
1245,tt1210819,255000000,89289910,The Lone Ranger,Johnny Depp|Armie Hammer|William Fichtner|Hele...,[Gore Verbinski],Never Take Off the Mask,The Texas Rangers chase down a gang of outlaws...,149,Action|Adventure|Western,Walt Disney Pictures|Jerry Bruckheimer Films|I...,2013-07-03,6.0,2013,-165710090,7

# 11. Какого жанра фильмов больше всего?

In [95]:
# эту задачу тоже можно решать разными подходами, попробуй реализовать разные варианты
# если будешь добавлять функцию - выноси ее в предобработку что в начале

In [96]:
answers['11'] = '3. Drama'# "+" ответ принят

In [97]:
data_11 = data.copy()# создаем новый ДФ (по номеру вопроса) используя функцию copy()
data_11.genres = data_11.genres = data_11.genres.str.split('|')# в столбце с жанрами строки в ячейках преобразуем в списки 
data_11_genres = data_11.genres.explode()# разбиваем столбец с жанрами так, чтобы в каждой ячейке был только один жанр 
data_11_genres.value_counts() # в полученной серии подсчитываем количество каждого из значений (жанров)

Drama              782
Comedy             683
Thriller           596
Action             582
Adventure          415
Crime              315
Romance            308
Family             260
Science Fiction    248
Fantasy            222
Horror             176
Mystery            168
Animation          139
Music               64
History             62
War                 58
Western             19
Documentary          8
Foreign              2
Name: genres, dtype: int64

ВАРИАНТ 2

In [98]:
data_11 = data.copy()
data_11.genres = data_11.genres.str.split('|')
data_11.genres.explode().value_counts().head()

Drama        782
Comedy       683
Thriller     596
Action       582
Adventure    415
Name: genres, dtype: int64

# 12. Фильмы какого жанра чаще всего становятся прибыльными?

In [99]:
answers['12'] = '1. Drama'# "+" ответ принят

In [100]:
data_12 = data[data.profit > 0].copy()# как в вопросе 11 создаем новый ДФ (по номеру вопроса) с прибылью больше нуля
# в столбце с жанрами строки в ячейках преобразуем в списки другим способом (с помощью lambda): 
data_12.genres = data_12.genres.apply(lambda x: str(x).split('|'))
data_12_genres = data_12.genres.explode() # разбиваем столбец с жанрами так, чтобы в каждой ячейке был только один жанр
data_12_genres.value_counts() # в полученной серии подсчитываем количество каждого из значений (жанров)

Drama              560
Comedy             551
Thriller           446
Action             444
Adventure          337
Romance            242
Crime              231
Family             226
Science Fiction    195
Fantasy            188
Horror             150
Animation          120
Mystery            119
Music               47
History             46
War                 41
Western             12
Documentary          7
Name: genres, dtype: int64

# 13. У какого режиссера самые большие суммарные кассовые сборы?

In [101]:
answers['13'] = '5. Peter Jackson '# "+" ответ принят

In [102]:
data_13 = pd.read_csv('movie_bd_v5.csv')
# группируем ДФ по столбцу "режисер" ('director'), считая сумму кассовых сборов('revenue') 
# сортируем и выводим первые пять строк по убыванию:
data_13.groupby(['director'])['revenue'].sum().sort_values(ascending=False).head(5)

director
Peter Jackson        6490593685
Christopher Nolan    4167548502
David Yates          4154295625
Michael Bay          3886938960
J.J. Abrams          3579169916
Name: revenue, dtype: int64

# 14. Какой режисер снял больше всего фильмов в стиле Action?

In [103]:
answers['14'] = '3. Robert Rodriguez '# "+" ответ принят

In [104]:
# Вариант 1 (долгий).

data_14 = data.copy()# создаем новый ДФ (по номеру вопроса)
data_14.genres = data_14.genres.apply(lambda x: str(x).split('|'))# преобразуем строки в ячейках в списки 
data_14 = data_14.explode('director')# разбиваем столбец с режисерами с помощью explode()
data_14 = data_14.groupby(['director'])['genres'].sum()# группируем ДФ по столбцу "режисер" ('director') суммируя фильмы по всем видам жанров по каждому режисеру
directors = pd.DataFrame(data_14)# преобразуем серию в ДФ
# создаем столбец 'action', в котором отображается количество фильмов в жанре Аction по каждому режисеру:
directors['action'] = directors.genres.apply(lambda x: x.count('Action'))
# вывовдим строку с наибольщим значением по столбцу 'action':
directors.loc[directors.action == directors.action.max()]

                                                             genres  action
director
Robert Rodriguez  [Crime, Thriller, Comedy, Family, Action, Come...       9

In [105]:
# Вариант 2.Отбираем строки, где в столбце с жанрами содержится "Action", 
# разбиваем столбец с режисерами так, чтобы в каждой ячейке был только один режисер
# с помощью value_counts() подсчитываем количество фильмов "Action" по режисерам и выводим первое

data[data.genres.str.contains('Action')].director.explode().value_counts().index[0]

'Robert Rodriguez'

In [106]:
# Вариант 3. Можно вывести первые три строки, используя .head(3):

data[data.genres.str.contains('Action')].director.explode().value_counts().head(3)

Robert Rodriguez      9
Paul W.S. Anderson    7
Michael Bay           7
Name: director, dtype: int64

# 15. Фильмы с каким актером принесли самые высокие кассовые сборы в 2012 году?

In [107]:
answers['15'] = '3. Chris Hemsworth'# "+" ответ принят

In [108]:
data_15 = data.copy() # создаем новый ДФ (по номеру вопроса)
data_15.cast = data_15.cast.apply(lambda x: str(x).split('|'))# в столбце с актерами строки в ячейках преобразуем в списки
data_15 = data_15.explode('cast')# создаем ДФ с разбиением столбца'cast', чтобы в каждой ячейке был только один актер
data_15[data_15.release_year == 2012].groupby('cast').revenue.sum().sort_values(ascending=False).head()
# группируем ДФ по актерам, суммируя кассовые сборы и сортируя сборы в порядке убывания

cast
Chris Hemsworth      2027450773
Denis Leary          1629460639
Anne Hathaway        1522851057
Robert Downey Jr.    1519557910
Mark Ruffalo         1519557910
Name: revenue, dtype: int64

# 16. Какой актер снялся в большем количестве высокобюджетных фильмов?

In [109]:
answers['16'] = '3. Matt Damon'# "+" ответ принят

In [110]:
data_16 = data.copy() # создаем новый ДФ (по номеру вопроса)
data_16.cast = data_16.cast.apply(lambda x: str(x).split('|'))# в столбце'cast'строки в ячейках преобразуем в списки
# создаем серию , выбирая только высокобюджетные фильмы, суммируем по актерам, дальше как в вопросе 14 (вариант 2)
pd.Series(data_16[data_16.budget > data_16.budget.mean()].cast.sum()).value_counts().index[0]

'Matt Damon'

# 17. В фильмах какого жанра больше всего снимался Nicolas Cage?

In [111]:
answers['17'] = '2. Action'# "+" ответ принят

In [112]:
# решение аналогично вопросу 14 (вариант 2)
data_17 = data.copy() # создаем новый ДФ (по номеру вопроса)
data_17.genres = data_17.genres.apply(lambda x: str(x).split('|'))# преобразуем строки в ячейках в списки 
data_17[data_17.cast.str.contains("Nicolas Cage")].genres.explode().value_counts()

Action             17
Thriller           15
Drama              12
Crime              10
Fantasy             8
Adventure           7
Comedy              6
Science Fiction     4
Animation           3
Mystery             3
Family              3
History             2
Horror              1
War                 1
Romance             1
Name: genres, dtype: int64

# 18. Самый убыточный фильм от Paramount Pictures

In [113]:
answers['18'] = '1. K-19: The Widowmaker (tt0267626) '# "+" ответ принят

In [114]:
data_18 = data[data.production_companies.str.contains("Paramount Pictures")]#создаем ДФ со строками где есть "РР"
data_18.loc[data_18.profit == data_18.profit.min()]# отбираем строку с наибольшим убытком

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year,profit,month
925,tt0267626,100000000,35168966,K-19: The Widowmaker,Harrison Ford|Liam Neeson|Peter Sarsgaard|Joss...,[Kathryn Bigelow],Fate has found its hero.,When Russia's first nuclear submarine malfunct...,138,Thriller|Drama|History,Paramount Pictures|Intermedia Films|National G...,2002-07-19,6.0,2002,-64831034,7

# 19. Какой год стал самым успешным по суммарным кассовым сборам?

In [115]:
answers['19'] = '5. 2015'# "+" ответ принят

In [116]:
# Группируем ДФ по годам выпуска, суммируя по кассовым сборам и сортируя по убыванию:
data.groupby(['release_year']).revenue.sum().sort_values(ascending=False).head(5)

release_year
2015    25449202382
2014    23405862953
2013    23213799791
2012    23079001687
2011    22676791872
Name: revenue, dtype: int64

# 20. Какой самый прибыльный год для студии Warner Bros?

In [117]:
answers['20'] = '1. 2014'# "+" ответ принят

In [118]:
# Решение аналогично 18 и 19 вопросам
data_20 =data[data.production_companies.str.contains("Warner Bros")]
data_20.groupby(['release_year']).profit.sum().sort_values(ascending=False).head(5)

release_year
2014    2295464519
2007    2201675217
2008    2134595031
2010    1974712985
2011    1871393682
Name: profit, dtype: int64

# 21. В каком месяце за все годы суммарно вышло больше всего фильмов?

In [119]:
answers['21'] = '4. Сентябрь'# "+" ответ принят

In [120]:
# Вариант 1.
# Формат даты преобразован в предобработке,подсчитываем количество фильмов каждого месяца:
data.release_date.dt.month.value_counts()

9     227
12    190
10    186
8     161
3     156
4     149
6     147
11    146
7     142
5     140
2     135
1     110
Name: release_date, dtype: int64

In [121]:
# Вариант 2:
data['month'].value_counts() # подсчитываем количество фильмов каждого месяца

9     227
12    190
10    186
8     161
3     156
4     149
6     147
11    146
7     142
5     140
2     135
1     110
Name: month, dtype: int64

# 22. Сколько суммарно вышло фильмов летом? (за июнь, июль, август)

In [122]:
answers['22'] = '2. 450'# "+" ответ принят

In [123]:
data['month'] = data.release_date.dt.month
data_22 = data['month'][(data['month'] <9)&(data['month']>5)].value_counts()# создаем ДФ по летним месяцам
data_22.sum() # считаем сумму

450

# 23. Для какого режиссера зима – самое продуктивное время года?

In [124]:
answers['23'] = '5. Peter Jackson'# "+" ответ принят

In [125]:
data[data['release_date'].dt.month.isin([1, 2, 12])].director.explode().value_counts().head()

Peter Jackson        7
Steven Soderbergh    6
Clint Eastwood       6
Nancy Meyers         4
Martin Scorsese      4
Name: director, dtype: int64

# 24. Какая студия дает самые длинные названия своим фильмам по количеству символов?

In [126]:
answers['24'] = '5. Four By Two Productions '# "+" ответ принят

In [127]:
data_24 = data.copy()#создаем копию исходного ДФ
data_24.production_companies = data_24.production_companies.str.split('|')#строки в ячейках преобразуем в списки
data_24 = data_24.explode('production_companies')# обновляем ДФ с разбиением столбца'production_companies'
data_24['lenght'] = data_24.original_title.str.len()# добавляем столбец 'lenght', где будут суммируются символы в названии
# Группируем ДФ по студиям, считая среднее значение по столбцу 'lenght' и сортируя по убыванию:
data_24.groupby('production_companies').mean()[['lenght']].sort_values(by='lenght',ascending=False).head()

                           lenght
production_companies
Four By Two Productions      83.0
Jim Henson Company, The      59.0
Dos Corazones                47.0
Polsky Films                 46.0
Museum Canada Productions    46.0

# 25. Описание фильмов какой студии в среднем самые длинные по количеству слов?

In [128]:
answers['25'] = '3. Midnight Picture Show'# "+" ответ принят

In [129]:
# решение аналогично вопросу 25
data_25 = data.copy()
data_25.production_companies = data_25.production_companies.apply(lambda x: str(x).split('|'))
data_25 = data_25.explode('production_companies')
data_25['lenght'] = data_25.overview.str.len()
data_25.groupby('production_companies').mean()[['lenght']].sort_values(by='lenght',ascending=False).head()

                                  lenght
production_companies
Midnight Picture Show             1000.0
Room 9 Entertainment               964.0
Brookwell-McNamara Entertainment   936.0
Lions Gate Family Entertainment    909.0
Crest Animation Productions        909.0

# 26. Какие фильмы входят в 1 процент лучших по рейтингу? 
по vote_average

In [130]:
answers['26'] = '1. Inside Out, The Dark Knight, 12 Years a Slave'# "+" ответ принят

In [131]:
# Вариант 1.
# выводим два столбца "нзвание" и "рейтинг", сортируя по убыванию
# 1% от 1889 строк это не более 18 строк, поэтому отбражаем 18 строк
data[['original_title', 'vote_average']].sort_values(
    ['vote_average', 'original_title'], ascending=[False, False])[0:17]

                                     original_title  vote_average
599                                 The Dark Knight           8.1
125                              The Imitation Game           8.0
34                                             Room           8.0
118                                    Interstellar           8.0
9                                        Inside Out           8.0
1183                        The Wolf of Wall Street           7.9
872                                     The Pianist           7.9
1081  The Lord of the Rings: The Return of the King           7.9
138                        The Grand Budapest Hotel           7.9
1800                                        Memento           7.9
370                                       Inception           7.9
119                         Guardians of the Galaxy           7.9
128                                       Gone Girl           7.9
1191                               12 Years a Slave           7.9
1688                            There Will Be Blood           7.8
155                        The Theory of Everything           7.8
1444                                   The Prestige           7.8

In [132]:
# Вариант 2 (используя квантиль).
data.original_title[data.vote_average.quantile(.99) < data.vote_average]

9                                          Inside Out
34                                               Room
118                                      Interstellar
119                           Guardians of the Galaxy
125                                The Imitation Game
128                                         Gone Girl
138                          The Grand Budapest Hotel
370                                         Inception
599                                   The Dark Knight
872                                       The Pianist
1081    The Lord of the Rings: The Return of the King
1183                          The Wolf of Wall Street
1191                                 12 Years a Slave
1800                                          Memento
Name: original_title, dtype: object

# 27. Какие актеры чаще всего снимаются в одном фильме вместе?

In [133]:
answers['27'] = '5. Daniel Radcliffe & Rupert Grint'# "+" ответ принят

In [134]:
# Вариант 1(с использованием функции combo_cast):
data.cast = data.cast.apply(lambda x: str(x).split('|'))
data_27 = data.cast.apply(combo_cast)
pd.DataFrame(data_27).explode('cast').cast.value_counts().head(2)

(Daniel Radcliffe, Emma Watson)     8
(Daniel Radcliffe, Rupert Grint)    8
Name: cast, dtype: int64

In [135]:
# Вариант 2(с использованием функции combinations() модуля itertools):
import itertools as it
data = pd.read_csv('movie_bd_v5.csv')
data_27 = data.copy()
data_27.cast = data_27.cast.str.split('|')
data_27.cast =data_27.cast.apply(lambda x: tuple(it.combinations(sorted(x),2)))
data_27.cast.explode().value_counts()

(Daniel Radcliffe, Rupert Grint)            8
(Daniel Radcliffe, Emma Watson)             8
(Emma Watson, Rupert Grint)                 8
(Helena Bonham Carter, Johnny Depp)         6
(Ben Stiller, Owen Wilson)                  6
                                           ..
(Clint Eastwood, Morgan Freeman)            1
(Joan Chen, Wen Bin Huang)                  1
(Derek Luke, Ed O'Neill)                    1
(Ben Whishaw, Charlotte Gainsbourg)         1
(Cedric the Entertainer, Margaret Avery)    1
Name: cast, Length: 17943, dtype: int64

# Submission

In [136]:
# в конце можно посмотреть свои ответы к каждому вопросу
answers

{'1': '5. Pirates of the Caribbean: On Stranger Tides (tt1298650)',
 '2': '2. Gods and Generals (tt0279111)',
 '3': '3. Winnie the Pooh (tt1449283)',
 '4': '2. 110',
 '5': '1. 107',
 '6': '5. Avatar (tt0499549)',
 '7': '5. The Lone Ranger (tt1210819)',
 '8': '1. 1478',
 '9': '4. The Dark Knight (tt0468569)',
 '10': '5. The Lone Ranger (tt1210819)',
 '11': '3. Drama',
 '12': '1. Drama',
 '13': '5. Peter Jackson ',
 '14': '3. Robert Rodriguez ',
 '15': '3. Chris Hemsworth',
 '16': '3. Matt Damon',
 '17': '2. Action',
 '18': '1. K-19: The Widowmaker (tt0267626) ',
 '19': '5. 2015',
 '20': '1. 2014',
 '21': '4. Сентябрь',
 '22': '2. 450',
 '23': '5. Peter Jackson',
 '24': '5. Four By Two Productions ',
 '25': '3. Midnight Picture Show',
 '26': '1. Inside Out, The Dark Knight, 12 Years a Slave',
 '27': '5. Daniel Radcliffe & Rupert Grint'}

In [137]:
# и убедиться что ни чего не пропустил)
len(answers)

27

# Спасибо за внимание!